.image-preview-wrapper {
  margin-bottom: 10px;
}

.image-preview-wrapper img {
  display: block;
  width: 100%;
  max-width: 400px;
  height: auto;
}

.email-template-form {
  display: flex;
  align-items: stretch;
}

.email-template-form .form-table,
.email-template-form .email-template-html {
  flex: 1;
}

.email-template-html {
  background: #222;
  border-radius: 5px;
  padding: 10px;
  margin-left: 30px;
}

.email-template-html textarea {
  color: #ccc;
  width: 100%;
  height: 100%;
  padding: 0;
  border: none;
  font-family: monospace;
  background: none;
  box-shadow: none;
  white-space: pre;
}

.email-desktop-preview {
  width: calc(100% - 20px);
  min-width: 700px;
  height: 500px;
  margin: 20px 0;
}

.email-mobile-preview {
  width: 340px;
  height: 500px;
  margin: 20px 0;
  padding: 70px 20px;
  border: solid 2px #555;
  border-radius: 30px;
  background: #222;
}